# VS Code settings
.vscode/

# Maven
target/
**/target/

# Java-specific
*.class
*.log

# JAR files (exceto bibliotecas essenciais se houver)
*.jar
!libs/*.jar  # Mantém JARs na pasta libs se necessário

# Scripts locais
mvn-java24.bat

#PDF do trabalho
INF008-2025.1-T2.pdf